
  /* Style the image cards */
  .gallery-item {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 0px;
   
  }
  
  /* Style the images within the cards */
  .image-card img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style the image card descriptions */
  .image-card p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }

